*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 84, 84);
}

.nav-bar {
    background-color: purple;
    padding: 4px;
}

.h1 {
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.filter {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-filactive {
    margin: 5px; /* Adjust margin as needed */
    background-color: black;
    border: 1px solid white; /* Reduced border thickness for better appearance */
    border-radius: 5px; /* Reduced border radius for better appearance */
    padding: 8px 16px; 
    color: white; 
    cursor: pointer; 
}
.btn-fil {
    margin: 5px; /* Adjust margin as needed */
    background-color: black;
    border: transparent; /* Reduced border thickness for better appearance */
    border-radius: 5px; /* Reduced border radius for better appearance */
    padding: 8px 16px; /* Adjust padding as needed */
    color: white; /* Added text color */
    cursor: pointer; 
}

.courses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300;
    margin: 0 auto;
}

.card {
    position: relative;
    max-width: 400px;
    height:max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(33, 31, 31);
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.image {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.like-btn {
    position: absolute;
    right: 10%; 
    bottom: 30%; 
    align-items: center;
    place-items: center;
    background-color: white; 
    border-radius: 50%; 
    padding: 8px; 
    color: pink; 
    cursor: pointer;
}

.like {
    font-size: 1.75rem;
}

.title {
    font-weight: bold;
    color: white;
}

.desc {
    color: white;
}

.r-body { 
    background-color: rgb(88, 84, 84);
}

.found {
    justify-content: center;
    align-items: center;
    text-align: center;
}

